@model chat_signalr.Models.chat

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>chat</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.message)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.message)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.img_url)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.img_url)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.active_stat)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.sent_time)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.name)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
